.quicktab {

  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }

  display: flex;
  flex-direction: column;
  //height: 222px;

  .tab-bar {

    display: flex;
    flex-shrink: 0;
    padding-left: 0;
    margin: 0;
    list-style: none;
    border: 1px solid #dee2e6;

    &.order-bottom {
      order: 2;
    }

    li {
      button {
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 8px 16px;

        font-size: 16px;
        color: #212529;

        cursor: pointer;
        background: #fff;
        border: 0;
        border-radius: 0;
        outline: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out;

        &.tab-control-prev,
        &.tab-control-refresh {
          border-right: 1px solid #dee2e6;
        }

        &.tab-control-next,
        &.tab-control-more,
        &.tab-control-full {
          border-left: 1px solid #dee2e6;
        }
      }

      &.scroll {
        display: flex;
        flex-grow: 1;
        overflow: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        button {
          position: relative;
          max-width: 180px;
          border-right: 1px solid #dee2e6;

          &::after {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 1px;
            content: "";
            background-color: #7431fa;
            border-radius: 0;
            transition: all .3s;
          }

          &:hover {
            color: #7431fa;

            &::after {
              width: 100%;
            }

          }

          &.active {
            color: #7431fa;

            &::after {
              width: 100%;
            }

          }

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          svg {
            flex-shrink: 0;
            margin-left: 8px;
            font-size: 12px;
            color: #c2c2c2;
            border-radius: 50%;

            &:hover {
              color: #fff;
              background-color: #ff5722;
            }
          }

        }
      }
    }
  }

  /*  面板容器占满剩余高度  */
  .tab-body {
    position: relative;

    flex-grow: 1;
    overflow: hidden;

    .tab-body-item {
      position: absolute;
      top: -200%;
      width: 100%;
      height: 100%;

      &.active {
        position: unset;
        left: unset;
      }

      iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: 0;
      }

      // 遮罩层
      .mask {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        .mask-inner {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-color: #fff;
        }
      }
    }
  }

}

@media (max-width: 400.98px) {

  .quicktab .tab-control-refresh {
    display: none !important;
  }

  .quicktab .tab-control-prev {
    display: none !important;
  }

  .quicktab .tab-control-next {
    display: none !important;
  }

  .quicktab .tab-control-full {
    display: none !important;
  }

}

